@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Raleway', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.3;
}

/* #blog {
  background: #e8e6e1;
  color: #333;
} */

ul {
  list-style: none;
}

a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.5;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  position: fixed;
}

.navbar a {
  color: #fff;
  padding: 0 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #3a59bd 2px solid;

}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* header */

.hero {
  height:100vh;
}

.hero::before {
  content: '';
  background: url('/img/home/content.jpg') no-repeat center center/cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
  font-weight: 400;
}

.hero .content p {
  font-size: 20px;
  margin:20px 0 30px;
}

/* Icons Section */

.icons {
  padding: 30px;
}

.icons i {
  background: #3a59bd;
  color: #fff;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 15px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons .flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 30px;
}

/* Photos section */
.photos-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.photos-header h1 {
  font-size: 50px;
  font-weight: 400;
}

.photos-header h2 {
  padding-top: 10px;
  font-size: 35px;
  font-weight: 400;
}

.photos .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
} 

.photos .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
  padding-bottom: 30px;
}

.photos img:hover {
  opacity: 0.7;
}

/* Blog section */
.blog .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.blog .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-basis: 100%; */
}

.blog .column .column-1,
.blog .column .column-2 {
  height: 100%;
}

.blog img {
  object-fit: cover;
  width: 100%;
  height:100%;
}

.blog .column .column-1 {
  /* justify-content: center; */
  padding: 30px;
}

.blog h1 {
  padding: 10px 0;
  font-size: 40px;
  font-weight: 400;
}

.blog p {
  line-height: 1.9;
  margin-bottom: 30px;
}
/* Us section */
.us {
  padding: 60px 10px;
  width: 100%;
  height: 100%;
}

.us-header {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.us-header h1 {
  font-size: 35px;
  font-weight: 400;
  padding: 25px 0;
}

.us .us-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.us-main img {
  padding: 0 10px;
  border-radius: 50%;
}

/* Contact us */

.contact-form {
  width: 100%;
  padding: 10px 0;
}

.form-content label {
  /* margin: 4px 0; */
  display: block;
} 
  
.contact-form input {
  width: 100%;
  padding: 0 25px;
  height: 40px;
  border: #d1d8e3 2px solid;
  border-radius: 10px;
}

.contact-form input:focus {
  outline-color: #3a59bd;
}

.contact-form .form-content {
  margin-bottom: 15px;
}

.contact-form .btn {
  cursor: pointer;
  margin-top: 20px;
}

