/* text utilities */
.text-primary {
  color:  #3a59bd;
}

/* backgrounds */
.bg-primary {
  background: #3a59bd;
  color: #fff;
}
.bg-light {
  background: #F0F0F0;
  color: #333;
}
/* btn */
.btn {
  background: #3a59bd;
  color: #fff;
  padding: 13px 30px;
  border-radius: 10px;
  display: inline-block;
  border: none;
}

.btn:hover {
  color: #fff;
  background: #183696;
}

/* Services */
.service .row {
  background: #3a59bd;
  color:#fff;
  width: 100%;
  height: 100%;
}

.service .column-1 img {
  display: flex;
  flex-direction: column;
  
}

.service .column-2 {
  display: flex;
  flex-direction: column;

}

