/* text utilities */
.text-primary {
  color:  #3a59bd;
}

/* backgrounds */
.bg-primary {
  background: #3a59bd;
  color: #fff;
}

.bg-light {
  background: #F0F0F0;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-blog {
  background:#594582;
  color: #fff;
}
.bg-secondary {
  background:#e8e6e1;
  color: #333;
}
/* btn */
.btn {
  background: #3a59bd;
  color: #fff;
  padding: 13px 30px;
  border-radius: 10px;
  display: inline-block;
  border: none;
}

.btn:hover {
  color: #fff;
  background: #183696;
}
/* btn style */
.transp-btn {
  background: transparent;
  color: #fff;
  border: #F0F0F0 1px solid;
  border-radius: 10px;
  padding: 10px 30px;
}

.black-btn {
  background: #333;
  color: #fff;
}

.light-btn {
  background:#fff;
  color: #333;
}
/* Services */
.service .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.service .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.service .column .column-1,
.service .column .column-2 {
  height: 100%;
}

.service img {
  object-fit:cover;
  width: 100%;
  height: 100%;
}

.service .column .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding: 30px;
}

.service h1 {
  font-size: 40px;
  font-weight: 400;
}

.service p {
  line-height: 1.9;
}



/* Blog page */
.hero.blog::before {
  background: url('../img/blog/blog-header.jpg') no-repeat center center/cover;
  height: 100vh;
  /* width: 100%; */
}

.reverse .row{
  flex-direction:row-reverse;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px 0;
}

.footer-icons {
  margin: 30px;
}

.footer a {
  padding: 0 10px;
  color: #fff;
}

.footer a:hover {
  color: #3a59bd;
}